<div class="card">
  <div class="text-title">
    <mat-icon>devices_other</mat-icon>Hardware & Software
  </div>
  <div class="text-description">
    Reperatur und Wartung von PC, Notebook, Smartphones und Haushaltsgeräten
  </div>
</div>

<div class="card">
  <div class="text-title">
    <mat-icon>build_circle</mat-icon>Einrichtung & Installation
  </div>
  <div class="text-description">
    Smartphone Einrichtung, Neuinstallation von Betriebssystemen, Formatierung
    von verschiedenen Systemen
  </div>
</div>

<div class="card">
  <div class="text-title">
    <mat-icon>directions_car</mat-icon>Vor Ort Service
  </div>
  <div class="text-description">
    Sie wollen das Haus nicht verlassen? Kein Problem, wir kommen zu Ihnen!
  </div>
</div>

<div class="card">
  <div class="text-title">
    <mat-icon>support_agent</mat-icon>Support & Betreuung
  </div>
  <div class="text-description">
    Unser erfahrenes Team steht Ihnen auch bei anderen Herausforderungen zur
    Seite!
  </div>
</div>
