:host {
  display: flex;
  flex: 1;
  margin: 30px;
  overflow-x: auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: 200px;
  width: 150px;
  min-width: 150px;
  padding: 0px 20px;
  margin: 0px 6px;

  &.first-card {
    margin-left: auto;
  }

  &.last-card {
    margin-right: auto;
  }

  .text-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 10px;

    mat-icon {
      margin-right: 10px;
      $icon-size: 40px;
      font-size: $icon-size;
      height: $icon-size;
      width: $icon-size;
    }
  }

  .text-description {
    word-break: break-word;
  }
}
