<div class="container-appointment bt-image">
  <div class="text-page-title">Termin vereinbaren</div>

  <div class="section-contact">
    <div class="text-description">
      Sie erreichen ihren persönlichen ATB 1st Ansprechspartner unter folgenden
      Möglichkeiten:
    </div>
    <div
      class="area-contact-info"
    >
      <mat-icon>smartphone</mat-icon>
      <a class="text-info" href="tel:{{contactInfo.phone}}">{{ contactInfo.phone }}</a>
    </div>
    <div
      class="area-contact-info"
      (click)="onCopyToClipboard(contactInfo.mail)"
    >
      <mat-icon>email</mat-icon>
      <a class="text-info" a href="mailto:{{contactInfo.mail}}">{{ contactInfo.mail }}</a>
    </div>
  </div>

  <div class="section-times">
    <div class="text-title-time">Unsere Sprechzeiten</div>
    <div class="area-grid">
      <div>Mo - So</div>
      <div>11 - 18Uhr</div>
    </div>
  </div>

  <button
    mat-flat-button
    mat-dialog-close
    class="bt-button-primary button-close"
  >
    Schließen
  </button>
</div>
