::ng-deep {
  mat-dialog-container {
    padding: 0px !important;
  }
}

.container-appointment {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 440px;

  background-image: url("/assets/appointment.jpeg");
}

.text-page-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .text-description {
    margin-bottom: 4px;
  }

  .section-phone-number {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 6px 18px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: white;

    .text-phone {
      color: #007cc7;
      margin: 0px 10px;
      cursor: pointer;
    }
  }
}

.section-times {
  .text-title-time {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 4px;
  }

  .area-grid {
    display: grid;
    grid-template-columns: 97px 100px;
  }
}

.button-close {
  align-self: flex-start;
  margin-top: 20px;
}
