<div class="container-appointment bt-image">
  <div class="text-page-title">Termin vereinbaren</div>

  <div class="section-contact">
    <div class="text-description">
      Sie erreichen ihre persönliche ATB 1st Ansprechspartnerin unter folgenden
      Möglichkeiten:
    </div>
    <div
      class="area-contact-info"
      (click)="onCopyToClipboard(contactInfo.phone)"
    >
      <mat-icon>smartphone</mat-icon>
      <!-- <div class="text-info">{{ contactInfo.phone }}</div> -->
      <div class="text-info">Bald wieder verfügbar</div>
    </div>
    <div
      class="area-contact-info"
      (click)="onCopyToClipboard(contactInfo.mail)"
    >
      <mat-icon>email</mat-icon>
      <a class="text-info" a href="mailto:{{contactInfo.mail}}">{{ contactInfo.mail }}</a>
    </div>
  </div>

  <div class="section-times">
    <div class="text-title-time">Unsere Sprechzeiten</div>
    <div class="area-grid">
      <div>Mo, Di, Fr</div>
      <div>10 - 20Uhr</div>
      <div>Sa, So</div>
      <div>12 - 22Uhr</div>
    </div>
  </div>

  <button
    mat-flat-button
    mat-dialog-close
    class="bt-button-primary button-close"
  >
    Schließen
  </button>
</div>
