::ng-deep {
  mat-dialog-container {
    padding: 0px !important;
  }
}

.container-appointment {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 360px;

  background-image: url("/assets/appointment.jpeg");
}

.text-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.text-phone {
  align-self: flex-start;
  padding: 8px 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
  color: #007cc7;
}

.text-title-time {
  font-weight: bold;
  margin-top: 10px;
}

.button-close {
  align-self: flex-start;
  margin-top: 20px;
}
