:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 300px;
  padding: 20px;
  background-image: url("/assets/header.jpeg");

  .logo-atb-first {
    height: 100%;
    min-height: 120px;
    max-height: 140px;
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    background-image: url("/assets/logoatbfirst.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .area-title {
    height: 140px;
    margin-left: 12px;
    margin-right: auto;

    .text-title {
      font-size: 24px;
      width: 220px;
      margin-bottom: 10px;
      color: white;
    }
  }
}

.section-content {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
}

.section-footer {
  background-color: black;
  color: white;
  padding: 40px;
}
