<div class="section-header bt-image">
  <div class="logo-atb-first animate__animated animate__fadeIn"></div>
  <div class="area-title">
    <div class="text-title">Die erste Wahl bei technischen Problemen</div>
    <button
      mat-flat-button
      class="bt-button-primary"
      (click)="onMakeAppointment()"
    >
      Termin vereinbaren
    </button>
  </div>
</div>

<ng-container *ngIf="!showView">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="showView">
  <div class="section-content">
    <app-info-service></app-info-service>
    <app-info-company></app-info-company>
    <div class="area-footer">
      <div>© ATB 1st</div>
      <div>Kontakt: atb-first@web.de</div>
    </div>
  </div>
</ng-container>
