:host {
  overflow-x: auto;
}

.section-topic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 240px;
  margin-bottom: 40px;

  &.image-left {
    align-items: flex-end;

    .text-title {
      align-self: flex-end;
    }
  }

  &.image-right {
    flex-wrap: wrap-reverse;

    .text-title {
      align-self: flex-start;
    }
  }

  .area-image {
    min-height: 240px;
    flex: 1;
    min-width: 333px;
    background-size: contain;
    background-repeat: no-repeat;

    &.image-left {
      background-position: left;
    }

    &.image-right {
      background-position: right;
    }
  }

  .area-description {
    padding: 10px;
    margin: 0px 30px;
    max-width: 400px;

    .text-title {
      padding: 10px 20px;
      margin-bottom: 6px;
      border-radius: 50px;
      font-size: 24px;
      font-weight: bold;
    }

    .text-topic {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      mat-icon {
        margin-right: 12px;
      }
    }
  }
}

.section-appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 300px;
  background-size: cover;

  .text-title {
    align-self: center;
    color: white;
    text-shadow: 0 0 6px #000;
    text-align: center;
    background-color: transparent;
  }
}

.image-work {
  background-image: url("/assets/technologie.jpeg");
}
.image-service {
  background-image: url("/assets/team.jpeg");
}
.image-call {
  background-image: url("/assets/call.jpeg");
}
