<div class="section-topic section-service">
  <div class="area-content">
    <div class="text-title">Erfahren & Flexibel</div>
    <div class="text-description">
      <div class="text-topic">
        <mat-icon>devices_other</mat-icon>
        Ob Android, iOS, Windows oder MacOs. Unser Team kennt sich mit den
        gängen Betriebssystem und deren Tücken aus.
      </div>
      <div class="text-topic">
        <mat-icon>date_range</mat-icon>
        Auch wenn ihr Kalendar voll ist, gemeinsam finden wir einen Termin.
      </div>
    </div>
  </div>
  <div class="area-image image-work bt-image"></div>
</div>

<div class="section-topic section-company">
  <div class="area-image image-service bt-image"></div>
  <div class="area-content">
    <div class="text-title">Wir sind für sie da!</div>
    <div class="text-description">
      <div class="text-topic">
        <mat-icon>local_police</mat-icon>
        Langjährige Erfahrung in der IT & Mobil Branche, prägen unser Team. Von
        der Installation bis hin zur Wartung, begleitet Sie unsere Spezialisten.
      </div>
      <div class="text-topic">
        <mat-icon>favorite</mat-icon>
        Warum machen wir das? Aus Leidenschaft und Helfersyndrom. Wir freuen uns
        drauf Sie kennenzulernen und Sie bei ihrem Problem zu helfen.
      </div>
    </div>
  </div>
</div>

<div class="section-topic section-appointment image-call bt-image">
  <div class="text-title">Sie hätten gerne einen Termin?</div>
  <button
    mat-flat-button
    class="bt-button-primary"
    (click)="onMakeAppointment()"
  >
    Termin vereinbaren
  </button>
</div>
