:host {
  overflow-x: auto;
}

.section-topic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 240px;
  margin-bottom: 40px;

  &.image-left {
    align-items: flex-end;

    .text-title {
      text-align: right;
    }
  }

  &.image-right {
    flex-wrap: wrap-reverse;

    .text-title {
      text-align: left;
    }
  }

  .text-title {
    padding: 10px 0px;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: bold;
  }

  .area-image {
    min-height: 240px;
    flex: 1;
    min-width: 333px;
    background-size: contain;
    background-repeat: no-repeat;

    &.image-left {
      background-position: left;
    }

    &.image-right {
      background-position: right;
    }
  }

  .area-description {
    padding: 10px;
    margin: 0px 30px;
    max-width: 400px;

    .text-topic {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      mat-icon {
        margin-right: 12px;
      }
    }
  }
}

.section-appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 60px;
  background-size: cover;

  .text-title {
    text-align: center;
    background-color: transparent;
    align-self: center;
  }

  .area-image {
    width: 100%;
    background-size: cover;
  }

  .area-description {
    display: flex;
    flex-direction: column;
    padding-top: 22px;

    button {
      align-self: center;
      margin-top: 10px;
    }
  }
}

.image-work {
  background-image: url("/assets/technologie.jpeg");
}
.image-service {
  background-image: url("/assets/team.jpeg");
}
.image-call {
  background-image: url("/assets/call.jpeg");
}
