html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

$main-color: #007cc7;

.bt-button-primary {
  color: white;
  background-color: $main-color;
}

.bt-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
